<div ng-init="init()">
    <div class="row">
        <div class="chart-title">
            <span>内存使用情况</span>
            <span style="margin-top:5px;margin-left:70%">
                <span style="font-weight:bold;font-size:14px">自动刷新:</span>
                <input type="checkbox" id="checkbox_refresh" class="chk_3" ng-click="auto_refresh()"  ng-disabled="" />
                <label for="checkbox_refresh" style="top:10px"></label>
            </span>
        </div>
        <div id="memory_chart" style="height:300px">
        </div>
        <div class="chart-title">内存占用Top5</div>
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th style="min-width: 60px;">进程名</th>
                    <th style="min-width: 60px;">PID</th>
                    <th style="min-width: 85px;">rss</th>
                    <th style="min-width: 85px;">vms</th>
                    <th style="min-width: 60px;">百分比</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in top5_List">
                    <td>[[ item.name ]]</td>
                    <td>[[ item.pid ]]</td>
                    <td>[[ item.rss ]]</td>
                    <td>[[ item.vms ]]</td>
                    <td>[[ item.percent ]]</td>
                </tr>
            </tbody>
        </table>
        <div class="chart-title">内存占用进程信息</div>
        <datagrid conf="gridData">
            <table class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th style="min-width: 60px;">进程名</th>
                        <th style="min-width: 60px;">PID</th>
                        <th style="min-width: 85px;">rss</th>
                        <th style="min-width: 85px;">vms</th>
                        <th style="min-width: 60px;">百分比</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in gridData.list">
                        <td>[[ item.name ]]</td>
                        <td>[[ item.pid ]]</td>
                        <td>[[ item.rss ]]</td>
                        <td>[[ item.vms ]]</td>
                        <td>[[ item.percent ]]</td>
                    </tr>
                </tbody>
            </table>
        </datagrid>
    </div>
</div>