*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing:border-box;
	font-size:14px;
}
body{
	width:100%;
	font-family: "Microsoft YaHei" ;
	
}
a{
	text-decoration:none;
	cursor:point;
	color:#000000;
}

ul,li,ol{
	list-style-type:none;
}
.container{overflow:hidden;}
.container>header{
	height:60px;
	background-color:#388ac1;
	vertical-align:middle;
}
.container>aside,.container>article{
	margin-bottom:-9999px;padding-bottom:9999px;
}
.container>aside{
	width:20%;
	float:left;
	background-color:#444;
}
.container>article{
	width:80%;
	float:left;
	background-color:#eeedec;
}
*.main{width:100%;}
.normal-text,form{
	font-size:0.8em;
	color:#aaa;
}
/*------------------------*/
/*-----header部分---*/
/*------------------------*/
.search,.logo,.login{
	position:relative;
	display:inline-block;
	color:White;
	font-size:0.8em;
	top:14px;
}
.logo{margin-left:5%;}
.search{
	left:55%;
	width:28%;
}
.login{
	left:53%;
	top:5px;
	/*---?---*/
}
.input-search{
	background-color:white;
	height:30px;
	width:90%;
	font-size:14px;
	float:left;
	padding-left:22px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;
}
.input-search:focus{outline:0;}
.search-icon{position:absolute;z-index:100;left:5px;top:5px;}
/*------------------------*/
/*-----侧边栏菜单部分---*/
/*------------------------*/
.container aside{padding:15px auto;}
.person{
	position:relative;
	top:10px;
	width:100%;
	text-align:center;
}
.person-icon,.img-circle{
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
}
.person-icon{
	display:inline-block;
	height:88px;
	width:88px;
	padding:3px;
	box-sizing:border-box;
	border:3px solid rgba(255,255,255,0.7);
}

.img-circle{
	height:76px;
	width:76px;
	background-color:rgba(255,255,255,0.7);
}
.person-name{
	color:white;
	font-size:16px;
	display:inline-block;
	height:100px;
	margin-left:10px;
	vertical-align:middle;
}
.person-info{
	width:100%;
	text-align:center;
}

.person-info>ul li{
	display:inline-block;
	width:40%;
	text-align:center;
	font-size:1.2em;
	color:rgba(255,255,255,0.5);
}
.person-info>ul li:first-child{
	border-right:1px solid rgba(123,123,123,0.3);
}
/*---aside.nav---*/
nav{
	margin:10px auto;
}

.nav-menu>li{
	display:block;
	width:100%; 
	height:40px; 
	line-height:40px;
	position:relative;
	padding-left:55px;
}
.menu2{
	display:none;
	position:absolute;
	
}
.menu2>li{
	width:100%;
	height:25px;
	padding-left:20px;
	line-height:25px;
}

.nav-menu [id^="menu"]:hover{height:150px;background:rgba(255,255,255,0.2);color:white;border-left:2px solid orange;}
.nav-menu [id^="menu"]:focus ol{display:block;}
.nav-menu [id^="menu"]:focus .menu3{display:none;}

.menu2 li:hover .menu3{display:block;}

/*------------------------*/
/*--------主体main部分------------*/
/*------------------------*/
.container>article>header{
	background-color:white;
	padding-left:10px;
	line-height:30px;
}
.content{
	width:92%;
	height:auto;
	margin:10px auto;
}
.row{
	width:100%;
	margin-top:10px;
}
/* clearfix set against the row class for convenience*/
.row:before,.row:after{content:"\200B"; display:block; height:0; clear:both; }
.grid{
	background-color:white;
	float:left;
	text-align:center;
}
/*----content.row1-----*/
.row-1{
	background-color:white;
	outline:1px solid #ccc;
	padding-bottom:10px;
}
.row-1 .d-grid-3:last-child{width:12%;position:relative;top:5px;}
.d-grid-3{width:18.9%;}	
/*----for row1.select.options-----*/
select{height:25px;line-height:25px;}
.form-2{width:20%;}
.form-5{width:44%;}
.form-8{width:80%;}
.form-7{width:70%;}
.change-ico{position:relative;top:8px;}
/*---*/
/*---end row1--*/

/*----content.row2-----*/
	.row-2 .d-grid-1:nth-last-child(2){margin-left:8px;}
	.d-grid-1{width:4%;height:75px;}
	.d-grid-2{width:12.5%; margin-left:0.5%;height:75px;}
.row-2>.d-grid-2:hover{
	border-top:4px solid #388ac1;
}
.d-grid-8 p{margin-top:10px;}

.box-line{
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	padding-top:15px;
}
/*--row2.icon---*/
.arrow-left,.arrow-right,.history{position:relative;}
.arrow-left{top:7px;}
.arrow-right{top:3px;}
.history{top:10px;}
/*--row2.text---*/
.row2-p1,.row2-p2{
	font-weight:bold;
}
.row2-p2{
	font-size:1.8em;
	color:orange;
	/*--?---*/
}
.row2-history-text,.login-text{margin-left:7px;}
/*--end row2-----*/

/*----content.row3-----*/
.d-grid-4:first-child{margin-left:0;}
.d-grid-4{width:23.8%;padding-left:5px;margin-left:1.5%;}
.d-grid-8{width:49%;}
.btn-search{
	width:60px;
	height:30px;
	line-height:30px;
	color:white;
	border:1px solid #388ac1;
	background-color:#388ac1;	
}

#row3-grid1{border-left:4px solid #44b29e;}
#row3-grid2{border-left:4px solid #388ac1;}
#row3-grid3{border-left:4px solid #cf4a36;}
#row3-grid4{border-left:4px solid #e2cd47;}
.square{
	margin-bottom:10px;
	margin-left:10px;
	width:80px;
	height:60px;
	display:inline-block;
}
#square-1{background-color:#44b29e;}
#square-2{background-color:#388ac1;}
#square-3{background-color:#cf4a36;}
#square-4{background-color:#e2cd47;}
/*---end row-3----*/

/*----content.row4-----*/
.row-4>grid{
	border-radius:3px;
}
.row-4>.d-grid-6,.row-4>.d-grid-10,.row-5>.d-grid-6,.row-5>.d-grid-10{
	border:1px solid #ccc;
	height:380px;
	border-radius:5px;
	box-shadow: 0px 0px 1px #888888;
}
.d-grid-6{width:37.8%; margin-left:10px;}
.d-grid-10{width:60.68%;height:380px;background-color:white;float:left;}

.row4-title{
	background-color:#f4f5f6;
	text-align:left;
	padding:8px;
	width:100%;
}
/*---tab----*/
.tabs {
  float: none;
  position: relative;
  top:20px;
  left:20px;
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tab label:first-child{margin-left:0;}
.tabs label {
  display: block;
  margin-left:10px;
  padding: 5px 18px;  
  border-radius: 2px 2px 0 0;
  background: #ededf0;
  cursor: pointer;
  position: relative;
  top: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  
}

.tabs label:hover {
  background:white;
  border:1px soild #ccc;
  
}

.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 90%;
  line-height: 25px; 
  padding: 10px;
  position: absolute;
  top: 32px;
  left: 10px;
  background: white;
  border:1px solid #ccc;
}
#tab-content1{display:block;}

.tabs [id^="tab"]:hover ~ [id^="tab-content"] {
  display: block;
}

/*---end tab----*/
.table1,.table3,.table4{
	width:90%;
	border-collapse:collapse;
	text-align:center;
}
.table1,.table4{margin:20px auto;}

.table1 td{line-height:35px;border:1px solid #ccc;}

.table1 td:hover{
	background-color:#ededf0;
}
.table-focus{
	background-color:#ededf0;
}
.table2{
	width:70%;
	line-height:25px;
	margin:10px auto;
	border-collapse:collapse;
	text-align:left;
}

.table2-tr2{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.table2-tr2 td:first-child{
	border-right:1px solid #ccc;
}
.table2-tr3{
	vertical-align:top;
	height:160px;
	border-bottom:1px solid #ccc;
}

.row4-search{margin-left:30%;}
/*-----end row4------*/

/*----content.row5------*/
.row5-form form{display:inline-block;width:23%;}
.row5-form select{width:100%;}

.row5-select{text-align:center;}
/*-?-*/
.row-5>.d-grid-10{margin-left:10px;height:420px;}
.row-5>.d-grid-6{margin-left:0;height:420px;}
.table3{margin:10px auto;}
.table3,tr{border-spacing:0 5px;border-collapse:separate;}
.table3 td{padding:6px 6px;}
.red-text{color:red;}
.table3-tr1 td{border-top:2px solid #7fcbf0;border-bottom:2px solid #ccc;}
.table3-box{border:1px solid yellow;}
.table4 td{
	border:1px solid #ccc;
	height:30px;
	vertical-align:middle;
}
/*------table5.color.bar--------*/
.index{width:70%;height:6px;margin-left:5px;border-radius:1px;background-color:#ccc;display:inline-block;}
.s88{width:88%;border-top:3px solid #ed6e52;border-bottom:3px solid #ed6e52;}
.s80{width:80%;border-top:3px solid #ef804f;border-bottom:3px solid #ef804f;}
.s76{width:76%;border-top:3px solid #f19e4f;border-bottom:3px solid #f19e4f;}
.s70{width:70%;border-top:3px solid #7fcbf0;border-bottom:3px solid #7fcbf0;}
.s60{width:60%;border-top:3px solid #7fcbf0;border-bottom:3px solid #7fcbf0;}
.s45{width:45%;border-top:3px solid #7fcbf0;border-bottom:3px solid #7fcbf0;}
.s40{width:40%;border-top:3px solid #7fcbf0;border-bottom:3px solid #7fcbf0;}
.s35{width:35%;border-top:3px solid #7fcbf0;border-bottom:3px solid #7fcbf0;}
.s30{width:30%;border-top:3px solid #7fcbf0;border-bottom:3px solid #7fcbf0;}
.s28{width:28%;border-top:3px solid #7fcbf0;border-bottom:3px solid #7fcbf0;}