<div>
    <ul class="pagination pagination-sm" style="margin-top: 5px;margin-bottom: 0px;">
        <li ng-class="{'disabled':pageData.pageIndex===1}"><a href="javascript:;" ng-click="jumpToFirstpage()" title="第一页"><i class="fa fa-angle-double-left"></i></a></li>
        <li ng-class="{'disabled':pageData.pageIndex===1}"><a href="javascript:;" ng-click="prevPage()" title="上一页"><i class="fa fa-angle-left"></i></a></li>
        <li ng-repeat="x in pages" ng-class="{'active':x==pageData.pageIndex,'disabled': x<0}" ng-click="jumpToPage(x)"><a href="javascript:;">{{filterPagination(x)}}</a></li>
        <li ng-class="{'disabled':pageData.pageIndex===pageData.totalPages}"><a href="javascript:;" ng-click="nextPage()" title="下一页"><i class="fa fa-angle-right"></i></a></li>
        <li ng-class="{'disabled':pageData.pageIndex===pageData.totalPages}"><a href="javascript:;" ng-click="jumpToLastpage()" title="最末页"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
    <div class="datagrid-tool">&nbsp;
        <input type="text" ng-model="pageIndexTemp" class="datagrid-input"/>
        <span>/</span><span ng-bind="pageData.totalPages"></span>
        <a href="javascript:;" class="datagrid-go" ng-click="jumpToPage(pageIndexTemp)">跳转</a>
        <span>&nbsp;&nbsp;每页</span>
        <select ng-model="pageData.pageSize"
                ng-options="m for m in pageData.pageSizeOptions"
                ng-change="changePageSize()"
                class="datagrid-input"></select>
        <span>共{{pageData.totalCount}}条</span>
    </div>
</div>