
.nav-collapse .collapse {
    position: fixed;
    width: 200px;
    height: 100% !important;
    background: #292A2F;
    left: 0!important;
}
.sidebar-nav{
    margin-left:-15px;
}
.user_side {
    padding: 15px 15px;
    margin: 0;
    background-color: #3D3E43;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.user_side {
    padding: 15px 15px;
    margin: 0;
    background-color: #3D3E43;
}
.user_side img {
    float: left;
    width: 50px;
    height: 50px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    margin: 0 15px 0 0;
}
.user_side a {
    color: #FFFFFF;
    font-size: 11px;
}
.accordion-group {
    border: none;
    border-radius: 0;
}
.accordion-heading {
    background: #292A2F;
}
.b_F79999.active {
    border-left: 2px solid #F79999;
}
.accordion-group a {
    display: block;
    padding: 8px 15px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}
.accordion-heading a {
    border-left: 2px solid #292A2F;
    border-bottom: 1px dashed #313131;
}
a [class^="icon-"], a [class*=" icon-"] {
    display: inline-block;
}
.accordion-inner {
    background-color: #3D3E43;
    border: none;
    padding: 9px 0;
}

