<div  class="row">
		<div class="col-md-3" ng-repeat="work in works">
			<a href="#"><div class="black"><img ng-src="{{work.imageUrl}}" class="img-thumbnail pic"><div class="pic-box"></div></div></a>
			<div class="row">
				<div class="col-md-3">
					<a href="#/works/{{work.id}}"><img ng-src="{{work.icon}}" class="img-rounded img"></a>
				</div>
				<div class="col-md-9">
					<p class="detail"><a href="#">{{work.description}}</a></p>
					<p class="pic-word"><a href="#">{{work.author}}</a></p>
				</div>
			</div>
		</div>		
</div>