<div  class="row">
	<div class="col-md-3" ng-repeat="work in works">
		<div class="row">
			<a href="#/works/[[work.id]]"><div class="black"><img ng-src="[[work.imageUrl]]" class="img-thumbnail pic"><div class="pic-box"/></div></div></a>
			<div class="col-md-3" style="padding-left:0;margin-top:5px">
				<a href="#/works/[[work.id]]"><img ng-src="[[work.icon]]" class="img-rounded img"></a>
			</div>
			<div class="col-md-9" style="padding-left:0;margin-top:5px">
				<p class="detail"><a href="#">[[work.description]]</a></p>
				<p class="pic-word"><a href="#">[[work.author]]</a></p>
			</div>
		</div>
	</div>		
</div>