*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing:border-box;
	font-size:14px;
}
body{
	width:100%;
	font-family: "Microsoft YaHei" ;
	
}
a{
	text-decoration:none;
	cursor:point;
	color:#000000;
}

ul,li,ol{
	list-style-type:none;
}
@font-face {
    font-family:'FZQK';
    src:url(../font/FZQK.TTF) format('truetype');
}
@font-face {
    font-family:'FZLBJW';
    src:url(../font/FZLBJW.TTF) format('truetype');
}
/*----------header------*/
.logo{min-height:150px;}
.logo img{
	width:150px;
	height:60px;  
}


/*end header*/
/*-----ban-------*/
.ban {min-height: 300px;}
.ban p{font-weight:bold;}
.ban img{
	height:300px;
	max-height:300px;
	height:expression(document.body.clientHeight>300?"300px":"auto");
	overflow:hidden;
}
.grid1,.grid2,.grid3{
	position: relative;
	min-height: 300px;
}
.grid1 {
  position: absolute;
  left: 0px;
  width:40%;
  background-color:#80FF80;
}
.grid2 {
  position: absolute;
  left: 40%;
  width:40%;
}
.grid3{
  position: absolute;
  left:80%;
  background-color:#FFFF66;
  width:20%;
}
.word1,.word2,.word3{
	padding-left:40%;
	font-family:'FZQK';
	padding-right:4%;
	margin-top:20px;
	}
.word1{
	padding-top:50px;
	font-size:16px;
	}
.word2{
	font-size:20px;
	font-weight:bold;
	}
/*---end bar----*/
.menu ul{
	margin-left:40%;
	margin-top:2em;
}
.foot{
	margin-left:40%;
	margin-top:3em;
	font-family:'FZQK';
}
/*-----span-row,end-row-----*/
.span-row,.end-row{
	width:100%;
	text-align:center;
}
.span-row{
	height:100px; 
	margin-top: 150px;
	background: -webkit-linear-gradient(left ,#FFFF66 5%, #80FF80 50% ,#FFFF66); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,,#FFFF66 5%, #80FF80 50% ,#FFFF66); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,,#FFFF66 5%, #80FF80 50%,#FFFF66); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right,,#FFFF66 5%, #80FF80 50%,#FFFF66); /* 标准的语法（必须放在最后） */
	background-color:#80FF80;
}
.end-row{
	
	height:60px;
	line-height:60px;
	margin-top: 50px;
	vertical-align:center;
	color: #444;
	
	background-color: #FFFF66; 
}
.bword{
    font-size:18px;
    color:White;
    font-weight:bold;
	margin-top: 40px;
    display: inline-block;
}
/*----middle and big button----*/
.btn-m{
    color:White;
	border-color:white;
    border-radius: 6px;
    text-shadow: white;
    border-style:solid;
    background:#FFFF66; 
    width:120px;
	-webkit-transition:all 1s ease-out;
	-moz-transition:all 1s ease-out;
	transition:all 1s ease-out;
    
}
.btn-m:hover{
	color:#FFFF66;
	background:white;
	border-color:#FFFF66;
}	
.btn-big{
    color:White;
	border-color:white;
    border-radius: 6px;
    text-shadow: white;
    border-style:solid;
    background:#80FF80; 
    width:180px;
	margin-top:0;
	-webkit-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out;
    
}
.btn-big:hover{
	color:#80FF80;
	background:white;
	border-color:#80FF80;
}	

/*-----article row----*/
.row:before,.row:after{content:"\200B"; display:block; height:0; clear:both; }
.hr1{
	height:1px;
	border:none;
	width:60%;
	margin:50px auto;
	border-top: 1px solid #ccc;
}
.row .col-md-12{
	line-height:30px;
	text-align:left;
}
.row .col-md-12>.row{
	margin-left:40px;
	margin-top: 80px;
	
}
.row .col-md-4{
	padding-right:0;
	border-right: 1px solid #ccc;
}
.col-md-12 h2,.container-fluid h2{
    text-align:center;
    margin-top:60px;
}
.col-md-12 icon{color:#444;margin-right:10px;font-size:18px;}
.detail{margin-top:30px;}
/*----container-fluid---*/
.container-fluid h4{margin-top: 50px;	}
.container-fluid>.row{margin-top:30px;text-align:center;}
.stitle{margin-left:120px;font-size:18px;}

.container-fluid .img{
  margin: 20px;
  border: 1px solid #ccc;
  display:inline-block;
}	
.container-fluid .img img{
	width:230px;
	height:190px;
	display: inline;
	margin: 6px;
	border: 1px solid #ffffff;
}
.container-fluid .img a:hover img {
	border: 1px solid #ccc;
	filter:alpha(opacity=0);
	-webkit-transform:scale(1.5); 
	-moz-transform:scale(1.5); 
	-o-transform:scale(1.5); 	
}
.desc{
	width: 120px;
	margin: 2px 7px;
}



